In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [2]:
df = pd.read_csv('salary_data.csv')
df.head()

   age  years_experience  salary salary_range
0   32               5.0   90000          low
1   28               3.0   65000          low
2   45              15.0  150000         high
3   36               7.0   60000          low
4   52              20.0  200000         high

In [3]:
X = df[['age', 'years_experience']]
y = df['salary']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123, test_size=.2)
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

298
75
298
75

In [5]:
Kmodel = KNeighborsClassifier(n_neighbors=5)
Kmodel.fit(X_train, y_train)
print(Kmodel.score(X_test, y_test))

0.36

In [6]:
y_pred = Kmodel.predict(X_test)

In [8]:
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [9]:
print(f"R2 Score: {r2}")
print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")

R2 Score: 0.7812187433801415
Mean Absolute Error: 15195.333333333334
Mean Squared Error: 541628300.0
Root Mean Squared Error: 23272.9091434655

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(y_test, y_pred, alpha=0.6)
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'k--', lw=2)
plt.xlabel('Actual')
plt.ylabel('Predicted')
plt.title('Actual vs Predicted Salary')
plt.show()